<% include ./partials/header %>
  
<div class="container text-center d-flex">
  <div class="row my-auto mx-auto weather-row">
    <div class="col-md-6 mx-auto">
      
      <div class="card py-3 mx-auto">
        <div class="card-body">
          <div id="icon"></div>
          <div class="d-flex justify-content-center align-items-center">
            <h1 class="display-2 d-inline-block temp my-0"></h1>
            <div class="d-flex flex-column text-justify ml-2">
              <h4 class="feels"></h4> 
              <h4 class="summary"></h4>
            </div>
          </div>
          <hr class="mb-4">
          <p class="forecast"></p>
          <hr class="my-4">
          <h4 class="card-text message"></h4>
          <!--<a href="#" class="btn btn-info btn-lg img1">New Weather Condition</a> -->
          
        </div>
      </div>
  
    </div>
  </div>
</div>
  
<% include ./partials/footer %>
    
