<% include ./partials/header %>
  
<div class="container text-center d-flex">
  <div class="row my-auto mx-auto weather-row">
    <div class="col-md-6 mx-auto">
      
      <div class="card py-5 mx-auto">
        <div class="card-body">
          <canvas id="skycons" class="weatherIcons" width="150" height="150"></canvas>
          <h1 class="display-2 temp mb-2"></h1>
          <h2 class="summary"></h2>
          <hr class="my-4">
          <h4 class="card-text message">
            Probably cold as crap, but if i cuddle with my baby Colleen everything will be better!
          </h4>
          <!--<a href="#" class="btn btn-info btn-lg img1">New Weather Condition</a> -->
          
        </div>
      </div>
  
    </div>
  </div>
</div>
  
<% include ./partials/footer %>
    
