body {
  overflow-y: hidden;
  background: light-gray;
  background-size: cover; }

.container {
  height: 100vh;
  width: 100%; }

.weather-row {
  width: 100%; }

.card {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto; }

#icon {
  margin: 0 auto;
  width: 35%; }

.snow {
  background: url(../img/snow.jpg) no-repeat;
  background-size: cover; }

.rain {
  background: url(../img/rain.jpg) no-repeat;
  background-size: cover; }

.mostly-cloudy-day {
  background: url(../img/partly-cloudy.jpg) no-repeat;
  background-size: cover; }

.partly-cloudy-night {
  background: url(../img/partly-cloudy-night.jpg) no-repeat;
  background-size: cover; }

.clear-day {
  background: url(../img/clear-day.jpg) no-repeat;
  background-size: cover; }

.clear-night {
  background: url(../img/clear-night.jpg) no-repeat;
  background-size: cover; }

.cloudy {
  background: url(../img/cloudy.jpg) no-repeat;
  background-size: cover; }

.sleet {
  background: url(../img/sleet.jpg) no-repeat;
  background-size: cover; }

.wind {
  background: url(../img/wind.jpg) no-repeat;
  background-size: cover; }

.fog {
  background: url(../img/fog.jpg) no-repeat;
  background-size: cover; }
